---
Checks:          'clang-diagnostic-*,clang-analyzer-*,-*,readability-*,portability-*,modernize-*,bugprone-*,-readability-identifier-length,-readability-uppercase-literal-suffix,-readability-avoid-unconditional-preprocessor-if,-readability-magic-numbers,-readability-function-cognitive-complexity,-bugprone-narrowing-conversions,-bugprone-easily-swappable-parameters,-bugprone-switch-missing-default-case,-bugprone-integer-division,-modernize-avoid-c-arrays,-modernize-use-trailing-return-type,-misc-definitions-in-headers,misc-reduntant-expression,misc-use-internal-linkage'
WarningsAsErrors: ''
HeaderFileExtensions:
  - ''
  - h
  - hh
  - hpp
  - hxx
ImplementationFileExtensions:
  - c
  - cc
  - cpp
  - cxx
FormatStyle: Microsoft

CheckOptions:
  readability-identifier-naming.GlobalVariableCase: 'CamelCase'
  readability-identifier-naming.GlobalVariablePrefix: 'g'
  readability-identifier-naming.GlobalConstantCase: 'CamelCase'
  readability-identifier-naming.GlobalConstantPrefix: 'k'
  readability-identifier-naming.ConstantCase: 'CamelCase'
  readability-identifier-naming.ConstantPrefix: 'k'
  readability-identifier-naming.LocalVariableCase: 'lower_case'
  readability-identifier-naming.LocalVariableIngoredRegexp: '\w{1,2}'
  readability-identifier-naming.MemberCase: 'CamelCase'
  readability-identifier-naming.MemberPrefix: 'm'